/*load external font*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

/*body style*/

body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
}


/* horizontal line style*/

hr {
    height: 5px;
    background-color: #7d97ad;
}

/* text formatting */
.text-muted {
    color: #7d97ad;
    font-weight: 300;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
    font-weight: 300;
}

.display-work {
    text-align: center;
}


/* logo styles */

.glyphicon-king {
    padding-top: 20px;
    font-size: 100px;
    color: #02b3e4;
}
/* media query break point*/
@media (max-width: 992px) {
    picture img {
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}